
html, body
{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

header, section {
    background-color:#4c4743;
}

header
{
    position: fixed;
    top:0;
    left: 0;
    height: 40px;
    width: 100%;
}

#ui_controls {
    position: absolute;
    left: 28px;
    height: 35px;
}

#ui_controls img {
    position: relative;
    margin-left: 7px;
}

#ui_controls img:hover {
    filter: brightness(100);
}

#save {
    width: 40px;
}

#undo, #redo {
    width: 25px;
    top: -5px;
}

#clear {
    width: 32px;
    top: -4px;
}

#tools {
    position: absolute;
    left: 230px;
}


section {
    position: fixed;
    top: 35px;
    height: 100%;
    width: 40px;
}



#main_canvas
{
    position: fixed;
    top:35px;
    left:35px;
}




/*

#array
{
    position: absolute;
    top: 700px;
}
*/



#saved
{
    display: none;
    position: absolute;
    top: 700px;
    left: 20px;
    font-size: 20px;
    font-family: monospace;
}

/*
img
{
    width: 140px;
    height: 80px;
    margin: 20px;
}
*/

