
html, body
{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

header, section {
    background-color:#4c4743;
}

header
{
    position: fixed;
    top:0;
    left: 0;
    height: 40px;
    width: 100%;
}

#ui_controls {
    position: absolute;
    left: 28px;
    height: 35px;
}

#ui_controls img {
    position: relative;
    margin-left: 7px;
}

#save {
    width: 40px;
}

#undo, #redo {
    width: 25px;
    top: -5px;
}

#clear {
    width: 32px;
    top: -4px;
}

#tools {
    position: absolute;
    left: 230px;
}


section {
    position: fixed;
    top: 35px;
    height: 100%;
    width: 40px;
}



#main_canvas
{
    position: fixed;
    top:35px;
    left:35px;
}




/*

#array
{
    position: absolute;
    top: 700px;
}
*/


#save_dropdown {
    position: fixed;
    left: 38px;
    top: 40px;
    border: solid;
    width: 30%;
    height: 50%;
}

#save_dropdown form {
    position: absolute;
    top: 10px;
    left: 10px;
}

input[name=file_name] {
    border-style: ridge;
}


#saved
{
    position: absolute;
    left: 10px;
    top: 30px;
}

#saved img {
    position: relative;
    width: 1%;
    padding-top: 100%;
    margin-left: 10px;
}

/*
img
{
    width: 140px;
    height: 80px;
    margin: 20px;
}
*/

